.p-Home.Flex5 {
display: flex;
align-content: stretch;
justify-content: center;
padding-top: 32px;
padding-bottom: 32px;
}
.p-Home.Flex1 {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: ;
padding-right: ;
width: 60%;
font-family: IBM Plex Sans;
margin-left: ;
margin-right: ;
cursor: auto;
background-color: ;
}
.p-Home.Flex2 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Flex3 {
display: flex;
column-gap: 24px;
font-size: 15px;
padding-top: 4px;
}
.p-Home.Flex4 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex7 {
display: flex;
width: ;
justify-content: center;
align-items: center;
height: ;
padding-top: 80px;
}
.p-Home.Flex8 {
display: flex;
width: 60%;
justify-content: space-around;
height: 100%;
align-items: stretch;
}
.p-Home.Flex9 {
display: flex;
width: 60%;
height: ;
flex-direction: column;
}
.p-Home.Flex11 {
display: flex;
padding-top: 30px;
column-gap: 10px;
}
.p-Home.Flex10 {
display: flex;
width: 50%;
justify-content: flex-start;
align-items: stretch;
flex-direction: row;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
}
.p-Home.Flex30 {
display: flex;
align-items: stretch;
justify-content: center;
padding-top: 60px;
padding-bottom: 40px;
}
.p-Home.Flex14 {
display: flex;
flex-direction: column;
}
.p-Home.Flex15 {
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: space-around;
row-gap: 20px;
padding-top: 20px;
}
.p-Home.Flex17 {
display: flex;
}
.p-Home.Flex24 {
display: flex;
row-gap: 10px;
}
.p-Home.Flex26 {
display: flex;
}
.p-Home.Flex18 {
display: flex;
}
.p-Home.Flex31 {
display: flex;
justify-content: center;
padding-top: 60px;
flex-direction: column;
}
.p-Home.Flex32 {
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 30px;
padding-bottom: 70px;
}
.p-Home.Flex33 {
display: flex;
justify-content: center;
column-gap: 100px;
padding-top: 100px;
padding-bottom: 80px;
}
.p-Home.Flex34 {
display: flex;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex35 {
display: flex;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex36 {
display: flex;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex37 {
display: flex;
justify-content: space-around;
padding-top: 80px;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column;
}
.p-Home.Flex41 {
display: flex;
}
.p-Home.Flex42 {
display: flex;
justify-content: space-around;
width: ;
column-gap: 20px;
padding-top: 20px;
background-color: #ffffff;
padding-bottom: 30px;
margin-left: ;
}
.p-Home.Flex44 {
display: flex;
flex-direction: column;
color: #000000;
background-color: #ffffff;
margin-left: ;
justify-content: flex-start;
width: ;
align-items: stretch;
}
.p-Home.Flex45 {
display: flex;
flex-direction: column;
background-color: #e9e9e9;
}
.p-Home.Flex50 {
display: flex;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
background-color: #e9e9e9;
padding-right: 0px;
}
.p-Home.Flex51 {
display: flex;
background-color: #ffffff;
}
.p-Home.Porfolio_Creater {
font-family: IBM Plex Sans;
font-weight: 700;
cursor: grab;
}
.p-Home.TextBox5 {
cursor: grab;
}
.p-Home.TextBox3 {
font-family: IBM Plex Sans;
cursor: grab;
}
.p-Home.TextBox4 {
cursor: grab;
}
.p-Home.TextBox6 {
cursor: grab;
}
.p-Home.TextBox7 {
cursor: grab;
}
.p-Home.TextBox8 {
cursor: grab;
}
.p-Home.Image3 {
font-size: ;
width: 13px;
cursor: grab;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-size: 55px;
font-weight: 700;
color: #5a49ac;
height: ;
}
.p-Home.TextBox12 {
font-family: IBM Plex Sans;
font-size: 57px;
font-weight: 700;
}
.p-Home.TextBox13 {
padding-top: 20px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 20px;
}
.p-Home.Button1 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: ;
outline: none;
font-weight: 600;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.TextBox14 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Image5 {
;
}
.p-Home.Image6 {
width: 95%;
height: auto;
align-self: flex-start;
}
.p-Home.TextBox17 {
align-self: center;
}
.p-Home.Image8 {
width: 100px;
height: 20px;
padding-left: 70px;
}
.p-Home.Image9 {
width: 100px;
height: 20px;
padding-left: 70px;
padding-right: 70px;
}
.p-Home.Image10 {
width: 100px;
height: 20px;
}
.p-Home.Image7 {
width: 100px;
height: 18px;
padding-left: ;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
padding-bottom: 40px;
align-self: center;
padding-left: ;
color: #2b3775;
}
.p-Home.TextBox21 {
align-self: center;
font-family: IBM Plex Sans;
font-size: 28px;
margin-left: 350px;
margin-right: 300px;
font-weight: 700;
padding-left: 0px;
}
.p-Home.Flex53 {
display: flex;
padding-top: ;
background-color: #000000;
}
.p-Home.TextBox25 {
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-size: 15px;
width: 200px;
}
.p-Home.Image11 {
width: 70px;
}
.p-Home.UnorderedList7 {
font-size: 15px;
padding-top: 10px;
}
.p-Home.UnorderedList8 {
font-size: 15px;
}
.p-Home.UnorderedList9 {
font-size: 15px;
}
.p-Home.TextBox23 {
width: 250px;
font-family: IBM Plex Sans;
font-size: 15px;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.Image13 {
width: 70px;
}
.p-Home.UnorderedList10 {
font-size: 15px;
padding-top: 10px;
}
.p-Home.UnorderedList11 {
font-size: 15px;
}
.p-Home.UnorderedList12 {
font-size: 15px;
}
.p-Home.TextBox24 {
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.TextBox29 {
font-size: 15px;
width: 220px;
}
.p-Home.Image14 {
width: 70px;
}
.p-Home.UnorderedList13 {
font-size: 15px;
padding-top: 10px;
}
.p-Home.UnorderedList14 {
font-size: 15px;
}
.p-Home.UnorderedList15 {
font-size: 15px;
}
.p-Home.TextBox33 {
width: ;
font-size: 45px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox34 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 600;
color: #0d25ad;
padding-bottom: 10px;
}
.p-Home.TextBox35 {
font-size: 45px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Button2 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
width: 150px;
height: 40px;
margin-top: 60px;
font-family: IBM Plex Sans;
}
.p-Home.Image15 {
width: 400px;
height: 260px;
padding-left: 200px;
background-color: #fffbfb;
}
.p-Home.TextBox43 {
margin-left: 200px;
padding-top: 20px;
font-family: IBM Plex Sans;
font-size: 18px;
color: #2046b5;
font-weight: 600;
background-color: #e9e9e9;
padding-left: 16px;
}
.p-Home.TextBox44 {
margin-left: 200px;
padding-top: 15px;
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 700;
padding-left: 16px;
background-color: #e9e9e9;
}
.p-Home.TextBox45 {
margin-left: 200px;
font-size: 18px;
padding-top: 10px;
background-color: #e9e9e9;
padding-left: 16px;
padding-bottom: 20px;
}
.p-Home.TextBox39 {
padding-top: 20px;
margin-top: ;
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 600;
color: #2046b5;
padding-left: 20px;
}
.p-Home.TextBox41 {
padding-top: 10px;
font-family: IBM Plex Sans;
font-size: 18px;
padding-left: 20px;
}
.p-Home.TextBox42 {
padding-top: 10px;
font-family: IBM Plex Sans;
font-size: 25px;
font-weight: 700;
padding-left: 20px;
}
.p-Home.Image16 {
width: 400px;
height: 260px;
}
.p-Home.TextBox38 {
padding-top: 20px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
color: #2046b5;
padding-left: 20px;
}
.p-Home.TextBox46 {
padding-top: 10px;
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 700;
padding-left: 20px;
}
.p-Home.TextBox47 {
padding-top: 10px;
font-size: 18px;
font-family: IBM Plex Sans;
padding-left: 20px;
}
.p-Home.Image17 {
width: 400px;
height: 250px;
}
